<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="nav justify-content-center">
      <a class="nav-link active" href="/registration">Registration</a>
      <a class="nav-link active" href="/login">Login</a>
      <a class="nav-link active" href="/users">View all users</a>
      <a class="nav-link active" href="/logout">logout</a>
    </nav>
  </body>
</html>
